*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
nav{
    
    width:100%;
height: 80px;
background-color: #3C0002;

}
nav ul{
    float: right;


}
nav ul li{
    float:right;
    list-style: none;
    position:relative;
}
nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 14px;

    padding: 5px 20px;

    transition: 0.6s ease;
}
nav ul li a:hover{
    background-color: #fff;
    color: #000;
}
nav ul li.active a{
    background-color: #fff;
    color: #000;

}
nav ul li ul{
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}
nav ul li:hover ul{
    display: block;

}
nav ul li ul li{
    width: 180px;
    border-radius: 4px;
}
nav ul li ul li a{
    padding: 8px 14px;
}
nav ul li ul li a:hover{
    background-color: #f3f3f3;
}
.navbar-brand{
    background-color: #5D0D10;
}
.title3 h1 a{
    display: block;
    text-decoration: none;
    position: absolute;
    font-size: 19px;
    color: #f3f3f3;
    top:25px;
    right:20px;
}
.logo img{
    position: absolute;
    top:5px;
    left:20px;
    width: 50px;
    height:auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title h1{
    position: absolute;
    font-size: 13px;
    color: #fff;
    top: 20px;
    left: 200px;
    transform: translate(-50%,-50%);
}
.title2{
    position: absolute;
    top: 300%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title2 h1{
    color:rgb(37, 37, 37);
    font-size: 60px;
}



.s1{
    position: absolute;
    width: 1100px;
    height:550px;
    filter: brightness(50%);
}

.s2{
    position: absolute;
    left:1100px;
    width: 400px;
    height:550px;
    filter: brightness(50%);
}
.s3{
    position: absolute;
    left:1500px;
    width: 400px;
    height:550px;
    filter: brightness(50%);
}
.layer1 h3{ 
    display: block;
    text-decoration: none;
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    color: #f3f3f3;
    top:560px;
    left:40px;
}
.overlayer1 h3{ 
    display: block;
    text-decoration: none;
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 23px;
    color: #A9A9A9;
    top:530px;
    left:40px;
}
.layer2 h3{ 
    display: block;
    text-decoration: none;
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    color: #f3f3f3;
    top:600px;
    left:1130px;
}
.overlayer2 h3{ 
    display: block;
    text-decoration: none;
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    color: #A9A9A9;
    top:570px;
    left:1130px;
}
.layer3 h3{ 
    display: block;
    text-decoration: none;
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    color: #f3f3f3;
    top:600px;
    left:1530px;
}
.overlayer3 h3{ 
    display: block;
    text-decoration: none;
    position: absolute;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17px;
    color: #A9A9A9;
    top:570px;
    left:1530px;
}
.button1{
    position: absolute;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f3f3f3;
    background-color: #5D0D10;
    border-radius: 6px;
    border-color: #5D0D10;
    width: 120px;
    height: 40px;
    top:640px;
    left:40px;

}
.button2{
    position: absolute;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f3f3f3;
    background-color: #5D0D10;
    border-radius: 6px;
    border-color: #5D0D10;
    width: 120px;
    height: 40px;
    top:640px;
    left:1130px;

}
.button3{
    position: absolute;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f3f3f3;
    background-color: #5D0D10;
    border-radius: 6px;
    border-color: #5D0D10;
    width: 120px;
    height: 40px;
    top:640px;
    left:1530px;

}
.s4{
    position: absolute;
    top:700px;
}
.s5{
    border-radius: 10px;
    position: absolute;
    top:1050px;
    left:150px;
    filter: brightness(50%);
}
.d1 h1{
  position: absolute;
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #f3f3f3;
  top:1380px;
  left:180px;
  right:1420px;
}
.d1 h2{
    position: absolute;
    font-size: 19px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #b8b8b8;
    top:1350px;
    left:180px;
    right:1420px;
}
.s6{
    border-radius: 10px;
    position: absolute;
    top:1050px;
    left:600px;
    filter: brightness(50%);
}
.d2 h1{
    position: absolute;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f3f3f3;
    top:1380px;
    left:650px;
    right:900px;
  }
.d2 h2{
      position: absolute;
      font-size: 19px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #b8b8b8;
      top:1350px;
      left:650px;
      right:1000px;
  }
.s7{
    border-radius: 10px;
    position: absolute;
    top:1050px;
    left:1000px;
    filter: brightness(50%);
}
.d3 h1{
    position: absolute;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f3f3f3;
    top:1380px;
    left:1050px;
    right:500px;
  }
  .d3 h2{
      position: absolute;
      font-size: 19px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #b8b8b8;
      top:1350px;
      left:1050px;
      right:500px;
  }
.s8{
    border-radius: 10px;
    position: absolute;
    top:1050px;
    left:1400px;
    filter: brightness(50%);
}
.d4 h1{
    position: absolute;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #f3f3f3;
    top:1380px;
    left:1450px;
    right:150px;
  }
  .d4 h2{
      position: absolute;
      font-size: 19px;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: #b8b8b8;
      top:1350px;
      left:1450px;
      right:150px;
  }
  .s9{
    position: absolute;
    top: 1650px;
    width: 1920px;
  }
  .footer1 h1{
    position: absolute;
 
    top: 2400px;
    left:300px;
    color: #f3f3f3;
    font-size: 12px;
}

.footer1 img{
    position: absolute;
    top: 2420px;
    left:290px;
}
.footer1 h2{
    position: absolute;
 
    top: 2600px;
    left:300px;
    color: #f3f3f3;
    font-size: 12px;

}
.footer1 h3{
    position: absolute;

    top: 2640px;
    left:300px;
    right:1250px;
    color: #f3f3f3;
    font-size: 12px; 
}
.footer1 h4{
    position: absolute;
 
    top: 2700px;
    left:300px;
    right:1250px;
    color: #3c0002;
    font-size: 12px;  
}
.footer2 img{
    position: absolute;
    top: 2410px;
    left: 900px;
    width: 80px;
    height: auto;
}
.footer3 h1{
    position: absolute;
    top: 2400px;
    right:300px;
    color: #f3f3f3;
    font-size: 12px; 
}
.footer3 img{
    position: absolute;
    top: 2420px;
    right:300px;
    width: 190px;
    height: auto;
}
.naslov{
    text-align: center;
    color: rgb(78, 78, 78);
    position: absolute;
    font-size:60px;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.glavnidio{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.kontakt{
    flex-basis: 48%;
    padding: 30px 2px;
}
.kontakt img{
    width:100%;
}
.kontakt h1{
    padding-top: 0;
}
.kontakt p{
    padding: 15px 0 25px;
}
.sub-sub-header{
    height: 50vh;
    width: 100%;
    background-image:url(backgroundimage.png);
    background-position: center;
    background-size: cover;

}
.row1{
    margin-top:25%;
    display: flex;
    justify-content: space-between;
}
.formica{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.textic{
    position: absolute;
    top: 37%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.form-label{
    color: #fff;
}
.form-text{
    color: #b8b8b8;
}
.form-check-label{
    color: #fff;
}
.prijava{
    position: absolute;
    left:1000px;
    top:400px;
}
.logo3{
    position: absolute;
    top:200px;
    left:100px;
    width:500px;
    height: auto;
}
.info{
    position: relative;
    top:600px;
    left:30px;
}
.col-8 h4{
 color: #f3f3f3;
}
.col-8 p{
  color:#b8b8b8;
}



:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: var(--dark);
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: black;
	margin-bottom: 1rem;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color: var(--darker);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: var(--light);
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: var(--grey);
}

#new-task-submit {
	color: var(--pink);
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: var(--grey);
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: var(--darkest);
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: var(--light);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(--pink);
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, var(--pink), var(--purple));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}